@use "sass:math"
$grid-columns: 12
$grid-max: 980px
[class*="grid-"] 
    box-sizing: border-box
    padding: 0
@for $i from 1 through $grid-columns 
    .grid-#{$i} 
        width: math.div(100%,$grid-columns)*$i   
