@use "../../DefaultSass/global"
$header_heigth: global.$header_Top-height
$background: #FDF1EB

$description_text-color: #725C5C
$description_font-family: 'Roboto'
$description_font-style: normal
$description_font-weight: 400
$description_font-size: 14px
$description_line-height: 16px
$description_title_font-size: 17px
$description_title_line-height: 19px



